h1 {
  font-size: 1.5em;
  padding: 0 0 0.25em 0;
  margin: 0 0 0.5em 0;
  border-bottom: 2px solid #ccc;
}

.error {
  font-size: 0.75em;
  font-weight: bold;
  color: red;
  padding: 0;
  margin: 0;
}

.columns {
  position: relative;
  width: 100%;   /* IE6 */
  height: 100%;  /* IE6 */
}

.columns .c1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.5em;
  padding: 1em 0 0 1.5em;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.columns .c1 li {
  padding: 0;
  margin: 0;
  border: 1px solid white;  /* IE6 */
}

.columns .c1 li a {
  display: block;
  padding: 0.25em;
  margin: 0;
}

.columns .c1 li.spacer {
  height: 0;
  padding: 0.5em 0 0 0;
  overflow: hidden;   /* IE6 */
}

.columns .c1 li.active {
  background: #ccf;
  border-right: 1px solid #ccf;  /* IE6 */
  padding: 0.25em;
  list-style-image: url("/media/img/raquo-10.png");
}

.columns .c2 {
  position: absolute;
  top: 0;
  left: 11em;
  width: 9.5em;
  padding: 1em 0 0 1.5em;
  margin: 0;
  list-style-type: none;
  border-left: 1em solid #ccf;
  white-space: nowrap;

  min-height:500px;
  height:auto !important;
  height:500px;
}

.columns .c2 li {
  padding: 0;
  margin: 0;
  border: 1px solid white;  /* IE6 */
}

.columns .c2 li a {
  display: block;
  padding: 0.15em 0.25em;
}

.columns .c2 li.spacer {
  height: 0;
  padding: 0.5em 0 0 0;
  overflow: hidden;   /* IE6 */
}

.columns .c2 li.active {
  background: #fe8;
  border-right: 1px solid #fe8;  /* IE6 */
  padding: 0.15em 0.25em;
  list-style-image: url("/media/img/raquo-10.png");
}

.columns .c2 li.group {
  position: relative;
  left: -0.75em;
  padding: 0.4em 0.25em 0.15em 0.25em;
  font-size: 0.75em;
  color: #666;
}

.columns .c3 {
  position: relative;
  margin: 0 0 1em 23em;
  padding: 0 0.5em 1em 1em;
  list-style-type: none;
  border-left: 1em solid #fe8;

  /* Min-height Fast Hack */
  min-height:500px;
  height:auto !important;
  height:500px;
}

.columns .c2-3 {
  margin: 0 0 1em 11em;
  padding: 0 0.5em 1em 1em;
  border-left: 1em solid #ccf;

  /* Min-height Fast Hack */
  min-height:500px;
  height:auto !important;
  height:500px;
}

.add-icon {
  background: url("/media/img/add-15.png");
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 0.25em 0 0;
  overflow: hidden;   /* IE6 */
}

form {
  padding: 0;
  margin: 0;
}

p.note {
  color: #666;
  font-size: 0.75em;
  padding: 0;
  margin: 0.5em 0 1em 0;
}

.message {
  position: relative;
  margin: 0.25em 0em 0.75em 0em;
  padding: 0.5em;
  background: #fe8;
}

.message .icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  background: url("/media/img/check-16.png");
  width: 16px;
  height: 16px;
}

p.narrow {
  width: 40em;
  font-size: 0.8em;
}

.message p {
  margin: 0 0 0 24px;
}

fieldset {
  position: relative;
  margin: 1em 0em;
  padding: 0.5em 0.5em 0.75em 0.5em;
  border: 2px solid #ccc;
}

legend {
  font-weight: bold;
}

.form-row {
  position: relative;
  padding: 0 0 0 13em;
  margin: 0;
  height: 1%;  /* IE6 */
  clear: left;
}

.form-row label {
  font-size: 1em;
  color: #666;
  position: absolute;
  left: 0em;
  top: 0.25em;
}

.form-row label.radio {
  color: black;
  position: static;
  left: 0;
  top: 0;
}

.form-row label.checkbox {
  color: black;
  position: static;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.form-row input.checkbox {
  margin: 0;
  padding: 0;
}

.form-row input.text {
  width: 20em;
  font-size: 0.75em;
  margin: 0.25em 0;
  background: #f0f0f0;
  border: 1px solid #aaa;
  padding: 0.3em;
}

.form-row div.radio {
  margin: 0 1em 0 3em;
  padding: 0;
  width: auto;
}

.form-row div.radio textarea {
  float: left;
  margin: 0 1em 0.5em 0;
  width: 17em;
  height: 10em;
  background: #f0f0f0;
  border: 1px solid #aaa;
  padding: 0;
}

.form-row select {
  font-size: 0.75em;
  margin: 0;
  width: 17em;
  background: #f0f0f0;
  border: 1px solid #aaa;
  padding: 0;
}

.form-row div.field {
  font-size: 1em;
  font-size: 0.75em;
  margin: 0;
  padding: 0.6em 0;
}

.form-row div.error {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 39em;
  top: 0.6em;
}

.form-row div.select-note {
  overflow: hidden;
  position: absolute;
  left: 37em;
  top: 0.25em;
  font-size: 0.75em;
  color: #666;
}

.submit-row {
  position: relative;
  height: 1%;  /* IE6 */
}

.submit-row div {
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  left: 12em;
  top: 0.3em;
  padding: 0;
  margin: 0;
  color: red;
}

.submit-row input {
  font-size: 1em;
  margin: 0.25em 0 0.25em 13em;
  bottom: 0;
  padding: 0em 1em;
}

form.narrow .form-row {
  position: relative;
  padding: 0;
  margin: 0.6em 0;
  height: 1%;  /* IE6 */
}

form.narrow .submit-row {
  position: relative;
  height: 1%;  /* IE6 */
}

form.narrow .submit-row div {
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  left: 0.5em;
  top: 0.3em;
  padding: 0;
  margin: 0;
  color: red;
}

form.narrow .submit-row input {
  font-size: 1em;
  margin: 0.25em 0 0.25em 1.5em;
  bottom: 0;
  padding: 0em 1em;
}

#tabs-and-sidebar {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;  /* IE6 */
}

#sidebar {
  position: absolute;
  width: 10em;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
}

#sidebar h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0.5em 0;
  padding: 0 0 2px 0;
  border-bottom: 4px solid #c8c8c8;
}

#sidebar .ajax-loader {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 2px;
  right: 3px;
  background: url("/media/img/ajax-loader.gif");
  width: 16px;
  height: 16px;
}

#sidebar p {
  margin: 0 0 1em 0;
  padding: 0;
  font-size: 0.75em;  
}

#ruleset-editor {  /* IE6 */
  width: 100%;
  margin: 0 0 1em 0;
}

#ruleset-editor textarea {
  width: 100%;
  height: 30em;
  background: #f0f0f0;
  border: 1px solid #aaa;
  padding: 0;
  margin: 0;
}
