{% extends 'layout_base.html' %}

{% block stylesheet %}account.css{% endblock %}
{% block page_title %}Your Account{% endblock %}
{% block head_title %}Your Account{% endblock %}

{% block content %}
<div class="columns">
  <ul class="c1">
    <li><a href="#">Profile</a></li>
    <li></li>
    <li class="active">Projects (5)</li>
    <li><a href="#">Authors</a></li>
    <li><a href="#">Bots</a></li>
  </ul>

  <ul class="c2">
    <li><a href="#" class="icon-link"><img src="/media/img/add-15.png" />
                    Add Project...</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li class="active">Project</li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
    <li><a href="#">Project</a></li>
  </ul>

  <div class="c3">

    <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed semper
    nisl eget velit. Praesent felis nulla, vehicula vitae, imperdiet et,
    vulputate vitae, dui. Ut hendrerit. Ut tempus. Nunc orci nisl,
    pellentesque eu, ullamcorper at, vulputate sit amet, sem. In ut
    ante. Donec vitae elit. Mauris diam urna, ullamcorper eu, nonummy sed,
    sagittis vel, augue. Ut consequat molestie augue. Morbi egestas felis
    nec dui. Etiam blandit sapien a felis. Sed ipsum. Vestibulum
    mi. Vivamus in nibh. In eget nulla eu mauris tincidunt
    ultricies. Pellentesque sit amet mauris ac ipsum venenatis luctus.
    </p>

    <p>
    Cras ultricies purus ac pede imperdiet tempus. Sed at neque ut nisi
    pharetra ullamcorper. Fusce imperdiet est lobortis elit. Mauris
    laoreet, mauris vel scelerisque imperdiet, nibh lectus auctor mi,
    venenatis commodo est orci at sem. Aenean congue vulputate pede. Sed
    nunc turpis, commodo ac, sodales nec, tempus et, erat. Donec
    orci. Duis pretium. In aliquam turpis luctus augue. Nunc sapien urna,
    pharetra ac, fermentum et, scelerisque nec, risus. Curabitur laoreet
    adipiscing odio. Aliquam facilisis ante. Pellentesque et turpis. Morbi
    at nisl. Etiam tempor neque ac ipsum. Cum sociis natoque penatibus et
    magnis dis parturient montes, nascetur ridiculus mus. Quisque sed orci
    facilisis eros rutrum laoreet. Donec vestibulum. Donec commodo
    tristique dolor.
    </p>

    <p>
    Morbi turpis eros, hendrerit id, pulvinar et, luctus non,
    lorem. Vestibulum ante turpis, aliquet eget, consectetuer condimentum,
    vestibulum at, lacus. Pellentesque dapibus, dolor venenatis sodales
    iaculis, magna nisi condimentum orci, sed vulputate mi neque sit amet
    nibh. Mauris egestas lacinia nunc. Lorem ipsum dolor sit amet,
    consectetuer adipiscing elit. Praesent arcu purus, fermentum mollis,
    faucibus ut, nonummy vitae, lacus. Donec mi eros, sagittis et, rhoncus
    euismod, feugiat ac, turpis. Nunc ac nisi id massa blandit
    scelerisque. Quisque interdum faucibus risus. Quisque elementum, diam
    sit amet laoreet hendrerit, purus mauris fringilla pede, id dictum
    pede est non erat.
    </p>

    <p>
    Nunc at neque. Nam luctus nonummy pede. Maecenas tempor nunc id
    nulla. Morbi lobortis tempor ante. In commodo faucibus nisl. Nam arcu
    ligula, fermentum sit amet, commodo vel, nonummy eget, eros. Nulla
    condimentum sapien sit amet justo. Donec id quam ac velit auctor
    mollis. Nulla nonummy ante et augue. Nullam elit est, sollicitudin et,
    viverra id, elementum id, dolor.
    </p>

    <p>
    Aliquam a est. Fusce iaculis arcu vel pede. Integer tortor. Proin
    vulputate, justo ac mollis congue, magna eros tempor metus, vitae
    hendrerit urna purus et quam. Aliquam non leo. Pellentesque pulvinar,
    lorem et ultrices sagittis, nulla ligula condimentum velit, in
    hendrerit enim felis ut nibh. Integer velit. Praesent ante lectus,
    scelerisque vitae, tincidunt ut, mollis id, sem. Integer hendrerit,
    quam sit amet aliquet scelerisque, elit lorem tempor tortor, sit amet
    aliquet quam quam vel nibh. Etiam vestibulum vehicula velit. Lorem
    ipsum dolor sit amet, consectetuer adipiscing elit. Class aptent
    taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    hymenaeos. Sed fermentum adipiscing augue. Donec interdum sodales
    ipsum. Cras nonummy dui quis odio.
    </p>
  </div>
</div>
{% endblock %}
