body {
  font: 100% sans-serif;
  color: Black;
  margin: 0;
  padding: 0;
  background: White;
}

a {
  color: #00c;
  text-decoration: none;
}

img {
  border: none;
}

.code {
  background: #ffc;
  padding: 0 2px;	
  border: 1px solid #dd8;
  color: black;

  /*
   * Work around Firefox monospace font weirdness, as described by:
   * http://virtuelvis.com/archives/2005/02/monospace-firefox-braindeath
   */
  font-family: "not-a-font", monospace;
  font-size: 1em;
}

.heading {
  position: relative;
  margin: 0.5em 0.5em 0.75em 0.5em;
  padding: 0;
  white-space: nowrap;
}

.footer {
  width: 100%;
  color: #777;
  font: 80% sans-serif;
  text-align: center;
  padding: 2em 0em;
  margin: 0;
}

/*
 * All heading vertical spacing must be in pixels,
 * since we're constrained by the size of our image nameplate/logo.
 */
.heading .logo {
  position: relative;
  font-size: 24px;
  color: black;
}

.heading .logo img {
  width: 87px;
  height: 24px;
  vertical-align: baseline;
  border: none;
}

.heading .sep {
  position: relative;
  font-size: 20px;
  top: -4px;
  padding: 0;
  margin: 0 0.2em;
  color: #ccc;
  font-weight: bold;
}

.heading .title {
  font-size: 20px;
  position: relative;
  top: -4px;
}

.heading ul {
  position: absolute;
  font: 12px sans-serif;
  top: 4px;
  right: 1em;

  display: inline;
  padding: 0;
  margin: 0;
}

.heading li {
  display: inline;
  padding: 0;
  margin: 0em 0em 0em 0.75em;
}

#search {
  display: none;  /* Search requires Javascript currently */

  background: #f0f0f0;
  border: 1px solid white;
  padding: 0.3em;
  width: 15em;
}

#search.default-text {
  color: #888;
}

#search-results {
  font-size: 0.8em;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ddd;
}

#search-results .bd {
  border: 1px solid #88f;
  background: #eef;
  padding: 2px;
}

#search-results a {
  display: block;
  color: #004;
}

#search-results a:hover {
  background: #ccf;
}