/*
 * Green dark pastel color scheme: http://tinyurl.com/3y5kfc
 */
//!DEF BASE_COLOR             6b9977
//!DEF DARK_COLOR             598063
//!DEF LIGHT_COLOR            9fcc8f
//!DEF ACCENT_COLOR           597b7e
//!DEF LIGHT_ACCENT_COLOR     cfe4e6

/*
 * Orange color scheme
 */
// //!DEF BASE_COLOR             e6b873
// //!DEF DARK_COLOR             806640
// //!DEF LIGHT_COLOR            ffddaa
// //!DEF ACCENT_COLOR           e6a573
// //!DEF LIGHT_ACCENT_COLOR     e6d9cf

//!DEF BORDER_COLOR           aaa
//!DEF TEXT_BG_COLOR          fff
//!DEF TEXT_BG_DARK_COLOR     eee
//!DEF ERROR_COLOR            c00
//!DEF TEXT_FG_LIGHT_COLOR    444
//!DEF TEXT_FG_LIGHTER_COLOR  888
//!DEF TEXT_HEADING_COLOR     005

//!DEF TEXT_REVERSE_BG_COLOR  444
//!DEF TEXT_REVERSE_FG_COLOR  fff

//!DEF CODE_BG_COLOR          ffc
//!DEF CODE_BORDER_COLOR      b77


#document-and-sidebar {
    background: #BASE_COLOR url("/media/img/fringes-BASE_COLOR.png") repeat-x scroll top left;
    border-bottom: 1px solid #DARK_COLOR;
    padding: 0;
    position: relative;
    height: 1%;  /* IE6 */
}

/*
 * The sidebar container is positioned such that its right side is at the right
 * edge of the page, and its left side is along the center of the document. The
 * #sidebar element then uses margins to sit itself on the right edge of the
 * fixed-width document element.
 */
#sidebar-container {
    position: absolute;
    overflow: hidden;
    width: 50%;
    right: 0;
    top: 48px;
    margin: 0;
    padding: 0;
}

#sidebar {
    margin: 0;
    padding: 0 0 0 32em;
    font-size: 0.75em;
    list-style-type: none;
    color: #TEXT_FG_LIGHT_COLOR;
}

#sidebar p {
    margin: 1em 1em 0.5em 0;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px solid #DARK_COLOR;
}

#sidebar .links {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#sidebar .links li {
    margin: 0.25em 0;
}

#sidebar a {
    color: white;
}

#sidebar a.summary span {
    color: #LIGHT_COLOR;
}

.document {
    /* Global document font size */
    font-size: 0.9em;

    background: white;
    width: 48em;

    padding: 0 1em;
    margin: 0 auto 1em auto;

    border-left: 1px solid #DARK_COLOR;
    border-right: 1px solid #DARK_COLOR;
    border-bottom: 1px solid #DARK_COLOR;
}

.document p {
    margin: 1em 0;

    /*
     * This is mostly a workaround for disappearing borders on <pre>,
     * but it also has the side-effect of disabling margin collapsing.
     */
    padding: 1px;
}

.document ul {
    list-style-type: square;
    margin: 0.5em;
    padding: 0 0 0 1.5em;
}

.document li {
    margin: 0;
    padding: 0;
}

.document blockquote {
    /*
     * Using padding here instead of margin works around some
     * disappearing-border issues with <pre> inside <blockquote>
     */
    margin: 0;
    padding: 0 1em;
    font-size: 0.9em;
}

.document .section {
    margin: 1.5em 0em;
    padding: 0;

    text-align: justify;
}

/*
 * h1: Page title. This matches the h1 style used by account.css,
 *     and the subtitle style is very similar to that used by login.css.
 */

h1 {
  font-size: 1.5em;
  padding: 0.4em 0 0.25em 0;
  margin: 0 0 0.25em 0;
  border-bottom: 2px solid #ACCENT_COLOR;
  color: #TEXT_HEADING_COLOR;
}

div.comments-link {
  clear: right;
  margin: 0.5em -1em 1em -1em;
  padding: 2px 1em;

  background: #TEXT_BG_DARK_COLOR;
}

div.comments-link span {
  font-weight: bold;
  color: #ACCENT_COLOR;
}

div.comments-link div.by-line {
  color: #TEXT_FG_LIGHTER_COLOR;
  float: right;
}

.comments {
  font-size: 0.9em;
  width: 50em;             /* Document width +2 */
  margin: 1em auto;

  border-top: 1px solid #DARK_COLOR;
  border-left: 1px solid #DARK_COLOR;
  border-right: 1px solid #DARK_COLOR;
}

.comment {
  padding: 0 1em;
  border-bottom: 1px solid #DARK_COLOR;
}

.comment-even {
  background: #TEXT_BG_DARK_COLOR;
}

.comment-odd {
  background: #TEXT_BG_COLOR;
}

/* Comment heading */
.comment div {
  padding: 0.5em 0;
  font-size: 0.8em;
}

/* Comment permalink */
.comment div a {
  display: block;
  float: right;
}

.comment p {
  margin: 0 0 1em 1em;
  overflow: hidden;
}

.error {
  color: #ERROR_COLOR;
  font-weight: bold;
}

.comment-form {
  font-size: 0.9em;
  width: 48em;              /* Same as .document width */
  margin: 1em auto;
  padding: 0 1em;

  background: #TEXT_BG_DARK_COLOR;
  border: 1px solid #DARK_COLOR;
}

.comment-form textarea {
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  height: 15em;
  border: 1px solid #BORDER_COLOR;
  background: white;
  padding: 0;
  margin: 0;
}

/*
 * Big textarea for editing document content. This also needs
 * to be monospace, for editing reST markup. 
 */
#id_content {
  height: 30em;
  padding: 2px;
  font-family: monospace;
}

.comment-form label {
  font-size: 0.8em;
}

.comment-form input[type="text"] {
  width: 20em;
  font-size: 0.75em;
  margin: 0.25em 0;
  border: 1px solid #BORDER_COLOR;
  background: white;
  padding: 2px;
  margin: 0;
}

.comment-form .image-upload {
  background: white;
  border: 1px solid #BORDER_COLOR;
  width: 80%;
  padding: 5px;
}

input.submit {
  font-size: 1em;
  padding: 0em 1em;
}

h2.subtitle {
  color: #ACCENT_COLOR;
  font-size: 0.9em;
  margin: 0em 2em;
}

div.pub-date {
  text-align: right;
  color: #TEXT_FG_LIGHTER_COLOR;
  font-size: 0.8em;
  margin: 0 0 1em 0;
}


/*
 * h2: Section headings
 */

h2 {
    font-size: 1.25em;
    color: #TEXT_HEADING_COLOR;
}

h2 a {
    color: #TEXT_HEADING_COLOR;
}

h1 a {
    color: #TEXT_HEADING_COLOR;
}

table {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

td {
    border: none;
    margin: 0;
    padding: 4px 15px 4px 2px;
    border-bottom: 1px solid #BORDER_COLOR;
}

tr {
    border: none;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
    font-weight: bold;
    border: none;
    background: #TEXT_REVERSE_BG_COLOR;
    color: #TEXT_REVERSE_FG_COLOR;
    padding: 2px 15px 2px 2px;
    margin: 0;
}

pre.literal-block {
    overflow: auto;
    font-size: 0.9em;
    font-family: "Lucida Console" monospace;
    margin-left: 3em;
    padding: 0.5em;
    background: #CODE_BG_COLOR;
    border: 1px solid #CODE_BORDER_COLOR;
}

/*
 * Docutils-generated error messages
 */
.system-message {
    border: 1px dashed red;
    margin: 0.25em;
    padding: 0.5em;
    font-size: 0.8em;
}

.system-message p {
    margin: 0.25em;
}

a.summary {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
