
#document-and-sidebar {
    background: #718070 url("/media/img/fringes-787.png") repeat-x scroll top left;
    border-bottom: 1px solid #444;
    padding: 0 0 1em 0;
}

#sidebar {
    /*
     * We could put the sidebar on the right using absolute
     * positioning, but float causes text to gracefully flow
     * around it if the display isn't wide enough for it to
     * fit entirely in the margins.
     */
    float: right;

    /*
     * More padding on the left to cover list bullets.
     * No padding on the top, because we have the <p>
     * element's top margin.
     */
    padding: 0 1em 1em 2em;
    margin: 0 1em;

    font-size: 0.75em;
    list-style-type: none;

    background: #f8f8f8;
    border: 1px solid #aaa;
}

#sidebar p {
    margin: 1em 0 0.5em 0;
    padding: 0;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
}

#sidebar .links {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#sidebar .links li {
    margin: 0.25em 0;
}

.document {
    /* Global document font size */
    font-size: 0.9em;

    background: white;
    width: 48em;

    padding: 0 1em;
    margin: 0 auto 0 auto;

    /* These two are for looks.. */
    border-left: 1px solid #898;
    border-right: 1px solid #898;

    /* This is to prevent margin collapsing. */
    border-bottom: 1px solid #aaa;
}

.document p {
    margin: 1em 0;

    /*
     * This is mostly a workaround for disappearing borders on <pre>,
     * but it also has the side-effect of disabling margin collapsing.
     */
    padding: 1px;
}

.document ul {
    list-style-type: square;
    margin: 0.5em;
    padding: 0 0 0 1.5em;
}

.document li {
    margin: 0;
    padding: 0;
}

.document blockquote {
    /*
     * Using padding here instead of margin works around some
     * disappearing-border issues with <pre> inside <blockquote>
     */
    margin: 0;
    padding: 0 1em;
    font-size: 0.9em;
}

.document .section {
    /*
     * Sections have a 1em border and 1em padding, which is cancelled
     * out by a -2em margin.  This gives the effect of a border
     * floating out in the left margin, while the text in sections
     * will line up with text in non-sections.
     *
     * IE6: This is broken, the border doesn't show up at all. That's
     *      an acceptable failure mode...
     */
    margin: 1.5em 0em 1.5em -2em;

    border-left: 1em solid #898;
    padding: 0em 1em;

    text-align: justify;
}

/*
 * h1: Page title. This matches the h1 style used by account.css,
 *     and the subtitle style is very similar to that used by login.css.
 */

h1 {
  font-size: 1.5em;
  padding: 0.4em 0 0.25em 0;
  margin: 0 0 0.25em 0;
  border-bottom: 2px solid #ccc;
}

/* Smaller headings for the blog index pages */
h1.blog-index {
  font-size: 1.2em;
  padding: 0.4em 0 2px 0;
  margin: 0 0 2px 0;;
}

/*
 * This element just exists to clear the floats
 * before closing div.document.
 *
 * XXX: This also has the side-effect of clearing
 *      the sidebar, since it's a float: right. 
 *      That may turn out to be a problem...
 */
.document div.footer {
  clear: right;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 0px;
}

div.comments-link {
  background: #454;
  color: white;

  font-size: 0.9em;
  width: 48em;                /* Same as .document width */
  margin: 0 auto 1em auto;
  padding: 2px 1em;
}

div.comments-link span {
  font-weight: bold;
}

div.comments-link a {
  color: #cef;
}

div.comments-link div.by-line {
  color: #898;
  float: right;
}

.comment {
  font-size: 0.9em;
  width: 48em;              /* Same as .document width */
  margin: 0 auto;
  padding: 0 1em;

  border-left: 1px solid #898;
  border-right: 1px solid #898;
  border-bottom: 1px solid #898;
}

.comment-even {
  background: #eee;
}

.comment-odd {
  background: #fff;
}

/* Comment heading */
.comment div {
  padding: 0.5em 0;
  font-size: 0.8em;
}

/* Comment permalink */
.comment div a {
  display: block;
  float: right;
}

.comment p {
  margin: 0 0 1em 1em;
  overflow: hidden;
}

.error {
  color: #c00;
  font-weight: bold;
}

.comment-form {
  font-size: 0.9em;
  width: 48em;              /* Same as .document width */
  margin: 1em auto;
  padding: 0 1em;

  background: #eee;
  border: 1px solid #898;
}

.comment-form textarea {
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  height: 15em;
  border: 1px solid #aaa;
  background: white;
  padding: 0;
  margin: 0;
}

/*
 * Big textarea for editing document content. This also needs
 * to be monospace, for editing reST markup. 
 */
#id_content {
  height: 30em;
  padding: 2px;
  font-family: monospace;
}

.comment-form label {
  font-size: 0.8em;
}

.comment-form input[type="text"] {
  width: 20em;
  font-size: 0.75em;
  margin: 0.25em 0;
  border: 1px solid #aaa;
  background: white;
  padding: 2px;
  margin: 0;
}

.comment-form .image-upload {
  background: white;
  border: 1px solid #aaa;
  width: 80%;
  padding: 5px;
}

input.submit {
  font-size: 1em;
  padding: 0em 1em;
}

h2.subtitle {
  color: #444;
  font-size: 0.9em;
  margin: 0em 2em;
}

div.pub-date {
  text-align: right;
  color: #888;
  font-size: 0.8em;
}


/*
 * h2: Section headings
 */

h2 {
    font-size: 1.25em;
    color: #005;
}

h2 a {
    color: #005;
}

h1 a {
    color: #005;
}

table {
    border: none;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}

td {
    border: none;
    margin: 0;
    padding: 4px 15px 4px 2px;
    border-bottom: 1px solid #aaa;
}

tr {
    border: none;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
    font-weight: bold;
    border: none;
    background: #444;
    color: white;
    padding: 2px 15px 2px 2px;
    margin: 0;
}

pre.literal-block {
    overflow: auto;
    font-size: 0.9em;
    font-family: "Lucida Console" monospace;
    margin-left: 3em;
    padding: 0.5em;
    background: #ffc;
    border: 1px solid #b77;
}

/*
 * Docutils-generated error messages
 */
.system-message {
    border: 1px dashed red;
    margin: 0.25em;
    padding: 0.5em;
    font-size: 0.8em;
}

.system-message p {
    margin: 0.25em;
}

a.summary {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 20em;
}

a.summary span {
    color: #888;
}