body {
  /* We set an absolute font size here, since the iframe as a whole is sized in pixels. */
  font-size: 10px;
  font-family: sans-serif;
  font-weight: bold;
  color: #666;
  margin: 0;
  padding: 0;
  background: White;
}

a {
  color: #00c;
  text-decoration: none;
}

#image-upload-form {
  margin: 0;
  padding: 0;
  clear: none;
}  

div.thumbnail {
  float: left;
  margin: 0 1em 0 0;
}

img.thumbnail {
  border: 1px dashed #666;
  padding: 2px;
  margin: 0;

/* Can't decide whether I like this or not... */
/* background: url("/media/img/checkerboard.png") */
}

div.details {
  text-align: center;
}

#file {
  margin: 0.25em 0;
}

p {
  margin: 0.5em 0;
}

#ajax-loader {
  vertical-align: middle;
  display: none;
  border: none;
  margin: 0 4px;
}

/* 
 * This is just to clear the float and force the page height to
 * include our floating thumbnail- important when we resize the iframe
 * to fit the page's height.
 */
.footer {
 clear: both;
 height: 1px;
}
