#columns {
    position: relative;
    height: 1%;
}

#info-column {
  position: absolute;
  width: 256px;        /* This is dictated by our thumbnail image sizes */
  padding: 0 10px;
}

#message-column {
  position: relative;
  height: 1%;  /* IE6 */
  margin: 0 0 0 266px;
  padding: 0 0.5em;
}

#info-column p {
  margin: 0 0 15px 0;
}

#info-column p.subtitle {
  font-style: italic;
  font-size: 0.8em;
}

#info-column p.photo {
  text-align: center;
}

p.url a {
  display: block;
  font-size: 0.8em;
  overflow: hidden;
  background: #eef;
  padding: 2px;
  border: 1px solid #ddf;
}

p.url {
  margin: 1px 0;
}

#info-column p.description {
  font-size: 0.9em;
}

#info-column p.edit a {
  display: block;
  font-size: 0.9em;
  overflow: hidden;
  padding: 2px;
  border: 1px dashed #ccf;
}

#info-column p.edit a:hover {
  border: 1px dashed #008;
  background: #eef;
}

a.message {
  font-size: 0.8em;
  display: block;
  border-top: 1px solid #888;
  background: #ddd;
  padding: 3px;
  color: #333;
}

a.message:hover {
  background: #bbf;
}

a.message .revision {
  font-weight: bold;
}

a.message .version {
  font-weight: bold;
}

a.message .module {
  font-weight: bold;
}

a.message .separator {
  font-weight: bold;
  color: #888;
}

div.log {
  margin: 0.5em 0 1em 0;
  overflow: hidden;
}

div.log pre {
  margin: 0;
}

div.log ul {
  list-style-type: square;
  padding: 0 0 0 1.5em;
}

#messages {
  margin: 0 0 0 5em;
}

#timeline-bar {
  position: absolute;
  width: 4em;
  height: 100%;
  background: #bbbfaa;
}

div.timestamp-headings {
  position: relative;
  left: -4em;
  margin: 0 0 1em 0;
}

div.timestamp-headings span {
  background: #66695d;
  color: #fff;

  font-weight: bold;
  font-size: 0.9em;
  padding: 0.15em 0.5em;
  margin: 0 0.25em;
}

div.timestamp-headings span:hover {
  background: #7f8274;
}

div.timestamp {
  position: absolute;

  /* Lines up with #timeline-bar */
  left: -5em;
  width: 4em;
}

div.timestamp span {
  font-weight: bold;
  background: #66695d;
  color: #fff;

  display: block;
  margin: 0;
  width: auto;
  padding: 2px 0;
  text-align: center;
  font-size: 0.7em;
}

div.message {
  position: relative;
  height: 1%;  /* IE6 */
}
