{% extends 'layout_account.html' %}

{% block main-column-class %}c3{% endblock %}

{% block nav-columns %}
  {{ block.super }}

  <ul class="c2">
    {% if add %} <li class="active"> {% else %} <li><a href="/account/{{ asset_type }}/add/"> {% endif %}
      <img class="add-icon" src="/media/img/add-10.png" alt="+" /> Add {{ asset_type_name }}...    
    {% if add %} </li> {% else %} </a></li> {% endif %}

    <li class="spacer"></li>

    {% block user_assets %}
      {% for user_asset in user_assets %}
	{% ifequal user_asset.id asset_id %}
	  <li class="active">{{ user_asset.asset }}</li>
	{% else %}
	  <li><a href="/account/{{ asset_type }}/{{ user_asset.id }}/">{{ user_asset.asset }}</a></li>
	{% endifequal %}
      {% endfor %}
    {% endblock %}
  </ul>
{% endblock %}
