{% for changeset in changesets %}
<li class="changeset">
  <p>
    <span class="number">
      #{{ changeset.id }}{% if changeset.remote_addr %}, from {{ changeset.remote_addr }}{% endif %}
    </span>
    <img src="/media/img/person-16-eee.png" width="16" height="16" />
    <span class="person">{{ changeset.user.get_full_name|escape }}</span>
    on <span class="timestamp">{{ changeset.time|date:"Y-m-d @ H:i T"  }}</span>
  </p>
  <ul class="change-items">
     {% for item in changeset.items.all|dictsort:"field" %}
     <li class="change-item">
       <img src="{{ item.get_icon }}" width="16" height="16" />
       <span class="description">{{ item.get_description|capfirst|escape }}</span>{% if item.new_value or item.old_value %}:
         {% if item.is_multiline %}
            {% for chunk in item.get_diff %}
              <div class="diff">
                {% for line in chunk %}
                  <div class="diff-{{ line.style }}"><span class="diff-prefix">{{ line.prefix }}</span>{{ line.text }}&nbsp;</div>
                {% endfor %}
              </div>
            {% endfor %}
         {% else %}
            {{ item.old_value_display }} &rarr; {{ item.new_value_display }}
         {% endif %}
       {% endif %}
     </li>
     {% endfor %}
  </ul>
</li>
{% endfor %}
