{% extends 'accounts/asset_base.html' %}

{% block h1 %}Ownership Conflict{% endblock %}

{% block account-intro %}
  <p class="narrow">
  The {{ asset_type_name }} you are requesting access to,
  <strong>{{ asset|escape }}</strong>, has been claimed exclusively by
  another user: <strong>{{ owner_ua.user.get_full_name|escape }}</strong>.
  </p>

  <p class="narrow">
  If you would like to challenge this ownership claim, use the
  form below to send a message to the {{ asset_type_name }}'s
  current owner. A moderator will also receive a copy of the message.
  </p>
{% endblock %}

{% block account-forms %}
<form action="{{ form_path }}" method="post" class="unlabeled">
  <div id="message-composer">
    {{ form.message }}
    {% if form.data %}
      <div class="error">{{ form.errors.message.0 }}</div>
    {% endif %}
  </div>

  <div class="form-row">
    {{ form.include_reply_email }}
  </div>

  <div class="submit-row">
    <div>&raquo;</div> <input type="submit" value="Send Message" />
  </div>
</form>
{% endblock %}
