{% extends 'accounts/asset_base.html' %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="/media/js/asset-edit.js" ></script>
{% endblock %}

{% block scripts-init %}
  {{ block.super }}
  TabtasticInit();
  preserveCurrentTab("edit-form", "form-tabs");
  ChangeHistory.init("/account/changes/{{ asset_type }}/{{ user_asset.asset.id }}/");
{% endblock %}

{% block h1 %}{{ user_asset.asset|capfirst }}{% endblock %}

{% block account-forms %}
  <div id="tabs-and-sidebar">
  <form id="edit-form" action="{{ form_path }}" method="post">

    <ul class="tabset_tabs" id="form-tabs">
      {% block tabs %}
      <li><a href="#ownership"> Ownership
      </a></li>
      <li><a href="#change-history"> Change History
      </a></li>
      {% endblock %}
    </ul>

    {% block tab-content %}
    <div id="ownership" class="tabset_content unlabeled">
      <h2 class="tabset_label">Ownership</h2>

      <div class="form-row">
	{{ levels.NONE }}
	<div class="radio">
	  <p class="note">
	    Remove this {{ asset_type_name }} from your inventory.
	    The {{ asset_type_name }} and its change history will continue
	    to exist. You or another user may reclaim this {{ asset_type_name }} later.
	  </p>
	</div>
      </div>

      <div class="form-row">
	{{ levels.COMMUNITY }}
	<div class="radio">
	  <p class="note">
	    Anyone can add this {{ asset_type_name }} to their inventory, and
	    anyone can change its settings. This {{ asset_type_name }} keeps a
	    permanent change history. Any changes can be audited and, if necessary,
	    reverted.
	  </p>
	</div>
      </div>

      <div class="form-row">
	<label class="radio"><input value="2" type="radio" class="radio" name="access" id="id_access_2" disabled="1" /> Exclusive access</label>
	<div class="radio">
	  <p class="note">
	    You have total control over this {{ asset_type_name }}. Only one person
	    may claim exclusive access for a single {{ asset_type_name }}. You may choose
	    whether or not to allow other users to edit this {{ asset_type_name }}.
	  </p>
	  <p class="note">
	    By selecting exclusive access for this {{ asset_type_name }} you agree to
	    allow us to e-mail you in the event of an ownership dispute.
	  </p>
	  <p class="note">
	    (Coming soon)
	  </p>
	</div>
      </div>
    </div>

    <div id="change-history" class="tabset_content unlabeled">
      <h2 class="tabset_label">Change History</h2>
      <ul id="changesets"></ul>
      <div id="changes-loading" class="ajax-loader"></div>
      <div id="more-changes"><a onclick="ChangeHistory.loadNextPage()"><span id="more-changes-count"></span> more changes...</a></div>
    </div>
    {% endblock %}

    {% block sidebar %}{% endblock %}

    <div class="unlabeled"> <div class="submit-row">
      <div>&raquo;</div> <input type="submit" value="Save" />
    </div></div>

  </form>
  </div>
{% endblock %}

