{% extends 'accounts/bot_asset.html' %}

{% block scripts %}
  <script type="text/javascript" src="/media/js/addclasskillclass.js" ></script>
  <script type="text/javascript" src="/media/js/attachevent.js" ></script>
  <script type="text/javascript" src="/media/js/addcss.js" ></script>
  <script type="text/javascript" src="/media/js/tabtastic.js" ></script>

  <script type="text/javascript" src="/media/js/yahoo-min.js" ></script>
  <script type="text/javascript" src="/media/js/connection-min.js" ></script>
  <script type="text/javascript" src="/media/js/json-min.js" ></script>
  <script type="text/javascript" src="/media/js/units.js" ></script>
  <script type="text/javascript" src="/media/js/bot-status.js" ></script>
{% endblock %}

{% block c3 %}

<h1>{{ user_asset.asset|capfirst }}</h1>

{% for message in messages %}
<div class="message"><div class="icon"></div><p>{{ message }}</p></div>
{% endfor %}

<div id="tabs-and-sidebar">
<form class="narrow" action="{{ form_path }}" method="post">

  <ul class="tabset_tabs">
    <li><a href="#basic-filtering" class="active">Basic Filtering</a></li>
    <li><a href="#advanced-filtering">Advanced Filtering</a></li>
    <li><a href="#ownership">Ownership</a></li>
  </ul>

  <div id="basic-filtering" class="tabset_content">
    <h2 class="tabset_label">Basic Filtering</h2>

    <div class="form-row">
      <input type="radio" class="radio" name="filter_mode" value="inactive" id="id_fm_inactive" />
      <label class="radio" for="id_fm_inactive">Inactive</label>
      <div class="radio">
	<p class="note">
	  The bot will be disabled. All settings will be preserved,
	  so you can easily re-enable the bot at any time.
	</p>
      </div>
    </div>

    <div class="form-row">
      <input type="radio" class="radio" name="filter_mode" value="project" id="id_fm_project" />
      <label class="radio" for="id_fm_project">Filter by project</label>
      <div class="radio">
	<p class="note">
	  The bot will report commits to any of the following projects.
	  Please list one project name per line. The names here should match
	  the names set in the CIA client scripts for your projects.
	</p>
	<textarea name="project_list"></textarea>
	<p class="note">
          <input type="checkbox" class="checkbox" name="show_project_names" id="id_show_project_names" />
          <label class="checkbox" for="id_show_project_names">Prefix each commit with its project name</label>
	</p>
      </div>
    </div>

    <div class="form-row">
      <input type="radio" class="radio" name="filter_mode" value="custom" id="id_fm_custom" />
      <label class="radio" for="id_fm_custom">Custom filter</label>
      <div class="radio">
	<p class="note">
	  You can define and edit a custom filter using the
	  <a href="#advanced-filtering">Advanced Filtering</a> tab.
	</p>
      </div>
    </div>
  </div>

  <div id="advanced-filtering" class="tabset_content">
    <h2 class="tabset_label">Advanced Filtering</h2>
    <textarea name="ruleset" id="ruleset-editor"></textarea>
  </div>

  <div id="ownership" class="tabset_content">
    <h2 class="tabset_label">Ownership</h2>
    <p>
      Coming soon
    </p>
  </div>

  <div id="sidebar">
     <h2>Bot Status</h2>
     <div id="bot-status-loading" class="ajax-loader"></div>
     <div id="bot-status-message"></div>
  </div>

  <div class="submit-row">
    <div>&raquo;</div> <input type="submit" name="basic_filter" value="Save" />
  </div>

</form>
</div>

<script type="text/javascript">
  TabtasticInit();
  BotStatus.init("/api/irc-bot-requests/{{ network_host|urlencode }}/{{ channel|urlencode }}/status/");
</script>

{% endblock %}