{% extends 'accounts/bot_asset.html' %}

{% block c3 %}

<h1>{{ user_asset.asset|capfirst }}</h1>

{% for message in messages %}
<div class="message"><div class="icon"></div><p>{{ message }}</p></div>
{% endfor %}

<form action="/account/" method="post">
  <fieldset><legend>Bot Status</legend>
  <div class="form-row">
    {{ form.is_active }}
  </div>
  <div class="form-row">
    <label for="id_email">E-mail address:</label>
    <input type="text" name="email" id="id_email" value="{{ profile_form.data.email|escape }}"/>
    <div class="error">{{ profile_form.errors.email.0 }}</div>
  </div>
  <div class="submit-row">
    <div>&raquo;</div> <input type="submit" name="change-profile" value="Save" />
  </div>
  </fieldset>
</form>

{% endblock %}