{% extends 'layout_account.html' %}

{% block nav-changes %}<li class="active">Changes</li>{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script type="text/javascript" src="/media/js/asset-edit.js" ></script>
{% endblock %}

{% block scripts-init %}
  {{ block.super }}
  ChangeHistory.init("/account/changes/my/");
{% endblock %}

{% block h1 %}Change History{% endblock %}

{% block account-intro %}
<form><p>
    Show recent changes made to all
    {% for type in asset_types %}
      {% if forloop.last %}
        and {{ type.verbose_name_plural }}
      {% else %}
        {{ type.verbose_name_plural }},
      {% endif %}
    {% endfor %}

  <input type="radio" name="scope" id="id_my_changes" checked="1"
    onclick="ChangeHistory.init('/account/changes/my/');"
    /> <label for="id_my_changes">in my account,</label>

  or

  <input type="radio" name="scope" id="id_all_changes"
    onclick="ChangeHistory.init('/account/changes/all/');"
    /> <label for="id_all_changes">on all of {{ site.name }}.</label>

</p></form>
{% endblock %}

{% block account-forms %}
  <ul id="changesets" class="indented"></ul>
  <div id="changes-loading" class="ajax-loader"></div>
  <div id="more-changes"><a onclick="ChangeHistory.loadNextPage()"><span id="more-changes-count"></span> more changes...</a></div>
{% endblock %}
