{% extends 'layout_login.html' %}

{% block page_title %}Log in{% endblock %}

{% block log_in %}
  <li>&bull; Logged out</li>
{% endblock %}

{% block content %}

<div class="login-box">
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>

  <h1>Log in</h2>
  <div class="h1-continuation">to your CIA account.</div>

  <form action="{{ login_url }}" method="post" id="login-form">
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <div class="form-row">
      <label for="id_username">Username:</label><input type="text" class="text" name="username" id="id_username" />
    </div>
    <div class="form-row">
      <label for="id_password">Password:</label><input type="password" class="text" name="password" id="id_password" />
    </div>
    <div class="submit-row">
      <div>&raquo;</div> <input type="submit" value="Log in" />
    </div>
  </form>
</div>

<ul class="options-box">
<li><a href="/account/register/">Register an account</a> and start managing your own projects,
                                 authors, and bots.</li>
<li><a href="/account/lost/">Forgot your password?</a></li>
{% if error %}
  <li>Remember that your CIA username may not be the same as your author name.</li>
  <li>Username and password are both case sensitive.</li>
{% endif %}
</ul>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}