{% extends 'accounts/asset_add.html' %}

{% block account-intro %}
  <p>
   Are you adding a new project?
  </p>
  <ul class="arrows">
    <li><p class="narrow">
      If your project is not yet on CIA, we can help you add it.
    </p></li>
    <li><p class="narrow">
      Create a short name for your project, and enter it below. This will be the name that appears on IRC, and in your project's
      public URL.
    </p></li>
    <li><p class="narrow">
      Avoid whitespace or other characters that would clutter up a URL. You can assign a longer name for
      your project after you create it.
    </p></li>
    <li><p class="narrow">
      If you use a hosting provider like <a href="http://sourceforge.net">SourceForge.net</a>, you may need to use
      a matching project name here.
    </p></li>
  </ul>

  <p>
   Do you want to edit an existing project?
  </p>
  <ul class="arrows">
    <li><p class="narrow">
      If your project is already on CIA, you can add it to your account in
      order to add a logo, a link to your project's web site, or some descriptive text.
    </p></li>
    <li><p class="narrow">    
      Either click the <em>Edit...</em> link on the project's stats page, or use the form below.
      You must enter the project name exactly as it appears on IRC or in the project's URL.
    </p></li>
  </ul>
{% endblock %}

{% block name-label %}Short name{% endblock %}