{% extends 'layout_login.html' %}

{% block page_title %}Lost Password{% endblock %}

{% block content %}

<div class="login-box">
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>

  <h1>Lost password</h2>
  <div class="h1-continuation"></div>

  <form action="{{ login_url }}" method="post" id="login-form">
    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}
    <div class="form-row">
      <label for="id_username">Username:</label><input type="text" name="username" id="id_username" />
    </div>
    <div class="submit-row">
      <div>&raquo;</div> <input type="submit" value="Send Mail" />
    </div>
  </form>
</div>

<ul class="options-box">
<li>The above form will send an e-mail to the address in your account profile.</li>
<li>Follow the instructions in that email to reset your password.</li>
</ul>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
{% endblock %}