{% extends 'layout_login.html' %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}
<div class="login-box">
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>

  <h1>Reset password</h2>
  <div class="h1-continuation"></div>

  <form action="{{ form_path }}" method="post" id="login-form">
    <div class="form-row">
      <label for="id_username">Username:</label>
      <div>{{ username }}</div>
    </div>

    <div class="form-row">
      <label for="id_password">New password:</label>
      <input type="password" name="password" id="id_password" />
      {% if form.errors.password %}
        <div class="margin-error">{{ form.errors.password.0 }}</div>
      {% endif %}
    </div>

    <div class="form-row">
      <label for="id_password2">Re-type password:</label>
      <input type="password" name="password2" id="id_password2" />
      {% if form.errors.password2 %}
        <div class="margin-error">{{ form.errors.password2.0 }}</div>
      {% endif %}
    </div>

    <div class="submit-row">
      <div>&raquo;</div>
      <input type="submit" value="Save" />
      {% if form.errors.submit %}
        <div class="margin-error">{{ form.errors.submit.0 }}</div>
      {% endif %}
    </div>

  </form>
</div>

<script type="text/javascript">
document.getElementById('id_password').focus()
</script>
{% endblock %}