{% extends 'accounts/asset_edit.html' %}

{% block tabs %}
  <li><a href="#metadata" class="active"> Metadata
  </a></li>
  {{ block.super }}
{% endblock %}

{% block tab-content %}
  <div id="metadata" class="tabset_content">
    <h2 class="tabset_label">Metadata</h2>

    <div class="form-row">
      <label for="id_path">Permanent identity:</label>
      <div id="id_path" class="field">{{ user_asset.asset.target.path|escape }}</div>
    </div>

    <div class="form-row">
      <label for="id_url">Statistics URL:</label>
      <div id="id_url" class="field"><a href="http://{{ request.META.HTTP_HOST }}{{ user_asset.asset.target.get_absolute_url|escape }}"
        >http://{{ request.META.HTTP_HOST }}{{ user_asset.asset.target.get_absolute_url|escape }}</a></div>
    </div>

    <div class="form-row">
      <label for="id_title">Display name:</label>
      {{ form.title }}
      <div class="error">{{ form.errors.title.0 }}</div>
    </div>

    <div class="form-row">
      <label for="id_subtitle">Display subtitle:</label>
      {{ form.subtitle }}
      <div class="error">{{ form.errors.subtitle.0 }}</div>
    </div>

    <div class="form-row">
      <label for="id_url">Web site URL:</label>
      {{ form.url }}
      <div class="error">{{ form.errors.url.0 }}</div>
    </div>

    <div class="form-row">
      <label for="id_description">Description:</label>
      {{ form.description }}
      <div class="error">{{ form.errors.description.0 }}</div>
    </div>

    <div class="form-row">
      <label for="id_photo_id_iframe">Primary image:</label>
      {{ form.photo_id }}
    </div>

    <div class="form-row">
      <label for="id_icon_id_iframe">Icon image:</label>
      {{ form.icon_id }}
    </div>

  </div>
  {{ block.super }}
{% endblock %}
