{% regroup user_assets|dictsort:"asset.getURI" by asset.network as grouped %}
{% for group in grouped %}
  <li class="group">{{ group.grouper }}</li>
  {% for user_asset in group.list %}
    {% ifequal user_asset.id asset_id %} <li class="active"> {% else %} <li><a href="/account/{{ asset_type }}/{{ user_asset.id }}/"> {% endifequal %}

    {{ user_asset.asset.location }}

    {% ifequal user_asset.access ACCESS.EXCLUSIVE %}
       <img src="/media/img/lock-10{% ifequal user_asset.id asset_id %}-fe8{% endifequal %}.png"
            width="10" height="10" alt="Exclusive access" title="Exclusive access" />
    {% endifequal %}

    {% ifequal user_asset.id asset_id %} </li> {% else %} </a></li> {% endifequal %}
  {% endfor %}
{% endfor %}
