{% extends 'layout_base.html' %}
{% load account_nav %}

{% block stylesheets %}
{{ block.super }}
  <link href="/media/css/account.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block page_title %}Your Account{% endblock %}
{% block head_title %}Your Account{% endblock %}

{% block content %}
<div class="columns">

<ul class="{% block main-column-class %}c2-3{% endblock %}">
  <h1>{% block h1 %}{% endblock %}</h1>

  {% block account-intro %}{% endblock %}

  {% for message in messages %}
    <div class="message"><div class="icon"></div><p>{{ message }}</p></div>
  {% endfor %}

  {% block account-forms %}{% endblock %}
</ul>

{% block nav-columns %}
<ul class="c1">
  {% block nav-profile %}<li><a href="/account/">Profile</a></li>{% endblock %}

  <li class="spacer"></li>

  {% for type in asset_types %}
    {% if type.is_current %}
      <li class="active">{{ type.verbose_name_plural|capfirst }} {{ type.count|paren }}</li>
    {% else %}
      <li><a href="/account/{{ type.asset_type }}/{{ type.default_id }}/">{{ type.verbose_name_plural|capfirst }}
	  {{ type.count|paren }}</a></li>
    {% endif %}
  {% endfor %}

  <li class="spacer"></li>

  {% block nav-bot-cloud %}<li><a href="/account/bot-cloud/">Bot Cloud</a></li>{% endblock %}
  {% block nav-changes %}<li><a href="/account/changes/">Changes</a></li>{% endblock %}

</ul>
{% endblock %}

</div>
{% endblock %}
