{% extends 'skeleton.html' %}

{% block head %}
<title>
{% block title %}
{% endblock %}
</title>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<link href="/cia/media/css/old-site.css" type="text/css" rel="stylesheet" />
<link href="/favicon.ico" type="image/png" rel="shortcut icon" />
<script src="/cia/media/js/base.js" type="text/javascript"></script>
{% endblock %}

{% block body %}

<div class="heading">
	<div class="topRight">
		<input type="text" id="search"/>
		<ul class="heading">
			<li>&raquo; <a href="/stats">Stats</a></li>
			<li>&raquo; <a href="/cia/doc">About</a></li>
			<li>&raquo; <a href="/blog">Blog</a></li>
            {% if user.is_authenticated %}
            <li>&raquo; <a href="/account">{{ user.get_full_name|escape }}</a></li>
            {% else %}
            <li>&raquo; <a href="/account">Your Account</a></li>
            {% endif %}
		</ul>
		{% block logoElements %}
		{% endblock %}
	</div>
	<div class="topLeft">
		{% block titleElements %}
		{% endblock %}
	</div>
	<div class="tabBar">
		{% block breadcrumbs %}
		{% endblock %}
		&nbsp;
	</div>
</div>

<table class="columns">
	<tr>
		<td class="left">
			{% block leftColumn %}
			{% endblock %}
		</td>
		<td class="main">
			{% block mainColumn %}
			{% endblock %}
		</td>
	</tr>
</table>

<div class="footer">

	{% if GOOGLE_ANALYTICS_ACCOUNT %}
	<script
	   {% if request.is_secure %}
	     src="https://ssl.google-analytics.com/urchin.js"
	   {% else %}
	     src="http://www.google-analytics.com/urchin.js"
	   {% endif %}
	   type="text/javascript">
	</script>
	<script type="text/javascript">
	_uacct = "{{ GOOGLE_ANALYTICS_ACCOUNT }}";
	urchinTracker();
	</script>
	{% endif %}

	{# FIX FOR EMAIL HERE!!! #}
	<p class="smallprint">
		The CIA.vc server is Copyright &copy; 2003-2007 <a href="mailto:micah@navi.cx">Micah Dowty</a>, and released under the <a href="/cia/doc/COPYING">GNU GPL</a>.
		<br>
		All hosted messages and metadata are owned by their respective authors.
	</p>

	{% block footerBottom %}
	{% endblock %}
</div>

<script type="text/javascript">
{% block scripts-init %}
  CIASearch.init("/api/search/", "search", "Search {{ site.name }}");
{% endblock %}
</script>

{% endblock %} {# end body #}
