{% extends 'accounts/asset_base.html' %}

{% block h1 %} Add {{ asset_type_name }}{% endblock %}

{% block account-forms %}
<form action="{{ request.path }}" method="post">
  <fieldset><legend>{{ asset_type_name|capfirst }}</legend>

  <div class="form-row">
    <label for="id_name">{% block name-label %}Name{% endblock %}:</label>
    {{ form.name }}
    <div class="error">{{ form.errors.name.0 }}</div>
    {% block name-notes %}{% endblock %}
  </div>

  <div class="submit-row">
    <div>&raquo;</div> <input type="submit" value="Add" />
  </div>

  </fieldset>
</form>
{% endblock %}
