# Keep only 10 rotated Twisted logs.
# These logs aren't terribly useful to archive, but we
# want recent ones in order to diagnose problems.
5 * * * * rm -f /var/log/cia/*.log.??

# Daily database cleanup. This should run shortly before the nightly backups.
25 0 * * * DJANGO_SETTINGS_MODULE=cia.settings PYTHONPATH=~/ ~/cia/tools/db_cleanup.py

# Repository poller. Runs every minute, determines on its own which repos need polling.
* * * * * DJANGO_SETTINGS_MODULE=cia.settings PYTHONPATH=~/ ~/cia/conf/repos-poll.py
