{% extends 'layout_blog.html' %}

{% block page_title %}{% if post.title %}{{ post.title }}{% else %}New blog post{% endif %}{% endblock %}

{% block scripts %}
  {{ block.super }}
  {% if can_post %}
    <script type="text/javascript" src="/media/js/blog-admin.js" ></script>
  {% endif %}
{% endblock %}

{% block posts %}

  <div class="document">
    <h1><a href="{{ post.get_absolute_url|escape }}">{% if post.title %}{{ post.title }}{% else %}New blog post{% endif %}</a></h1>
    {% include "blog/post_body.html" %}
  </div>

  {% if post.listed %}

    {% if comment_list %}
    <div class="comments">
    {% for c in comment_list %}
      <div class="comment comment-{% cycle odd,even %}" id="c{{ c.id }}">
	<div>
	  <a id="c{{ c.id }}" href="#c{{ c.id }}">#{{ forloop.counter }}</a>
      {% if can_post %}<a href="{% url cia.apps.blog.views.delete_comment post.pk c.pk %}" class="X_button">X</a>{% endif %}
	  <strong>{{ c.person_name|escape }}</strong> wrote, on {{ c.submit_date|date:"Y-m-d" }}:
    </div>
    {{ c.comment|escape|linebreaks }}
    
    </div>
    {% endfor %}
    </div>
    {% endif %}

    {{ request.user.full_name }}

    <div class="comment-form">
	{% if comment_form %}
		<form action="{% url cia.apps.blog.views.post_comment %}" method="post">{#% csrf_token %#}
            <p><label for="id_person_name">Your Name: {{ comment_form.person_name }}</label></p>
            <p><label for="comment_id">Comment on <em>{{ post.title }}</em>: {{ comment_form.comment }}</label></p>
            <input type="hidden" name="post_id" value="{{ post.pk }}">
            <p><input type="submit" value="Post comment"></p>
		</form>
	{% endif %}	
    </div>
  {% endif %}

  {% if post_form %}
     <div class="comment-form">
       <form action="{{ post.get_absolute_url }}" method="post">
         <p><label for="id_title">Title:</label> {{ post_form.title }}
           </p>
         <p>{{ post_form.listed }}<label for="id_listed">Post is publicly listed</label></p>
         <p><label for="id_content">reStructuredText markup:</label><br />{{ post_form.content }}
           </p>
         <p><input class="submit" type="submit" value="Save Post" /></p>

         <p class="image-upload">
           <iframe src="/images/upload/" name="image_iframe" id="image_iframe"
                   width="100%" height="0px" frameborder="0"
                   scrolling="no" marginheight="0" marginwidth="0"
                   > </iframe>
         </p>
       </form>
     </div>
  {% endif %}

{% endblock %}

{% block scripts-init %}
  {{ block.super }}
  {% if post_form %}
    iFrameResultCallbacks["image_iframe"] = function(result) {
      if (result) {
        var content = document.getElementById("id_content");
        content.value += "\n.. image:: #"+result+"\n";
      }
    }
  {% endif %}
{% endblock %}

