{% if post.listed %}
  <div class="pub-date">Published on {{ post.pub_date|date:"l, F j, Y" }}</div>
{% else %}
  <div class="pub-date">Draft post</div>
{% endif %}

{% if post.content %}
{% autoescape off %}
  {{ post.render.fragment }}
{% endautoescape %}
{% else %}
  <p><em>Empty post</em></p>
{% endif %}

<div class="comments-link">
  <div class="by-line">Posted by {{ post.posted_by.get_full_name|escape }}</div>
  <span>&raquo;</span>
  <a href="{{ post.get_absolute_url|escape }}">Permanent Link /
    {{ post.getCommentCount }} Comment{{ post.getCommentCount|pluralize }}</a>
</div>

