@import "base.css";

.columns {
  position: relative;
  width: 100%;   /* IE6 */
  height: 100%;  /* IE6 */
}

.columns .c1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 9.5em;
  padding: 0 0 0 1.5em;
  margin: 0;
  list-style-type: none;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.columns .c1 li {
  padding: 0;
  margin: 0;
  border: 1px solid white;  /* IE6 */
}

.columns .c1 li a {
  display: block;
  padding: 0.25em;
  margin: 0;
}

.columns .c1 li.spacer {
  height: 0;
  padding: 0.5em;
  overflow: hidden;   /* IE6 */
}

.columns .c1 li.active {
  background: #ccf;
  border-right: 1px solid #ccf;  /* IE6 */
  padding: 0.25em;
  list-style-image: url("/media/img/raquo-10.png");
}

.columns .c2 {
  position: absolute;
  top: 0;
  left: 11em;
  width: 9.5em;
  padding: 0 0 0 1.5em;
  margin: 0;
  list-style-type: none;
  border-left: 1em solid #ccf;
  overflow: hidden;
  white-space: nowrap;

  min-height:500px;
  height:auto !important;
  height:500px;
}

.columns .c2 li {
  padding: 0;
  margin: 0;
  border: 1px solid white;  /* IE6 */
}

.columns .c2 li a {
  display: block;
  padding: 0.15em 0.25em;
}

.columns .c2 li.spacer {
  height: 0;
  padding: 0.5em;
  overflow: hidden;   /* IE6 */
}

.columns .c2 li.active {
  background: #fe8;
  border-right: 1px solid #fe8;  /* IE6 */
  padding: 0.15em 0.25em;
  list-style-image: url("/media/img/raquo-10.png");
}

.columns .c3 {
  margin: 0 0 1em 23em;
  padding: 0 0.5em 0 1em;
  list-style-type: none;
  border-left: 1em solid #fe8;

  /* Min-height Fast Hack */
  min-height:500px;
  height:auto !important;
  height:500px;
}

.columns .c2-3 {
  margin: 0 0 1em 11em;
  padding: 0 0.5em 0 1em;
  border-left: 1em solid #ccf;

  /* Min-height Fast Hack */
  min-height:500px;
  height:auto !important;
  height:500px;
}

.add-icon {
  background: url("/media/img/add-15.png");
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 0.25em 0 0;
  overflow: hidden;   /* IE6 */
}

