body {
  font: 100% sans-serif;
  color: Black;
  margin: 0;
  padding: 0;
  background: White;
}

.heading {
  position: relative;
  margin: 0.5em;
  padding: 0em 0em 0.25em 0em;
  border-bottom: 2px solid #888;
  white-space: nowrap;
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  color: #777;
  font: 80% sans-serif;
  text-align: center;
  padding: 1.5em;
  margin: 0;
}

.heading .logo {
  position: relative;
  font: 175% sans-serif;
}

.heading .sep {
  position: relative;
  top: -0.3em;
  padding: 0em 0.2em;
  font-weight: bold;
}

.heading .title {
  font: 120% sans-serif;
  position: relative;
  top: -0.15em;
}

.heading ul {
  position: absolute;
  font: 80% sans-serif;
  top: 0.7em;
  right: 1em;

  display: inline;
  padding: 0;
  margin: 0;
}

.heading li {
  display: inline;
  padding: 0;
  margin: 0em 0em 0em 1.5em;
}
