/*
 * CSS2 Stylesheet for the CIA web interface.
 * This CSS is a tweaked and enhanced version of what
 * runs most of the CGI scripts and such on navi, and
 * borrows a lot of ideas from picogui.org's tweaked
 * Plone CSS. Plone's CSS was written by Alexander Limi.
 *
 * --Micah Dowty <micah@navi.cx>
 *
 */

body {
  font: 9pt sans-serif;
  color: Black;
  margin: 0;
  padding: 0;
  background: #eef4eb;
}

.centered {
  text-align: center;
  margin: 1.5em;
}

a {
  color: #008;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0em;
  padding: 0.5em;
}

blockquote {
  margin: 0em 2em;
  padding: 0em;
}

pre.literal-block {
  /* Note that this is basically the same as div.formChoice */
  margin: 0em 2em;
  padding: 0.5em;
  margin: 1em 2em;
  border: 1px dotted #666;
}

ul {
  list-style-image: url(/images/bullet.png);
  padding: 0em 0em 0em 3em;
  margin: 0em;
}

li.directory {
  list-style-image: url(/images/folder.png);
}

li {
  padding: 0.25em;
  margin: 0em;
}

div.relatedHeading {
  font-weight: bold;
  border-bottom: 1px solid #8CACBB;
  margin: 0em 0em 0.5em 0em;
}

div.relatedFooter {
  color: #444;
  font-style: italic;
  text-align: right;
}

table.related {
  padding: 0em;
  margin: 0em;
}

table.related td {
  padding: 0.2em 0em 0.2em 1em;
}

table.related td:first-child {
  padding: 0.2em 0em 0em 0em;
}

td > p {
  /* Another spacing hack for paragraphs inside any table cell */
  padding: 0em;
}

div.heading {
  padding: 0em;
  margin: 0em;
  background-color: white;
}

table.heading {
  width: 100%;
  padding: 0em;
  margin: 0em;
}

tr.heading {
  padding: 0em;
  margin: 0em;
}

td.topRight {
  vertical-align: bottom;
  text-align: right;
  width: 15em;
  padding: 0em;
  margin: 0em;
}

a.sitename {
  padding: 0em 0.75em;
  margin: 0em;
  font: 350% sans-serif;
  color: #DDD;
  text-decoration: none;
}

td.title {
  vertical-align: bottom;
  margin: 0em;
  padding: 0.5em 0em 0.5em 1em;
}

div.mainTitle {
  font: 250% sans-serif;
  padding: 0em;
  margin: 0em;
}

div.subTitle {
  font: 100% sans-serif;
  font-style: italic;
  padding: 0em 2em;
  margin: 0em;
}

div.footer {
  margin: 0em 0em 2em 0em;
  text-align: center;
}

p.smallprint {
  color: #666;
}

span.section {
  background: #dee7ec;
  border: 1px solid #8CACBB;
  border-bottom: #dee7ec 1px solid;
  color: #436976;
  font: 110% Bold;
  margin: 0px 0.5em 0em 0.8em;
  padding: 0em 2em;
  white-space: nowrap;
}

div.sectionTop {
  background: #dee7ec;
  padding: 0.4em;
  margin: 0em;
}

div.section {
  border: 1px solid #8CACBB;
  margin: 0em 0em 2em 0em;
  background-color: white;
  background-image: url(/images/dots.png);
  background-repeat: repeat-y;
  background-position: right;
}

div.pageBody {
  border: 1px solid #8CACBB;
  margin: 0em 0em 2em 0em;
  padding: 1em;
  background-color: white;
}

h1 {
  font: 200% sans-serif;
  padding: 0em;
  margin: 0.75em 0em;
  border-bottom: 1px solid #CCC;
}

h1:first-child {
  margin: 0em 0em 0.75em 0em;
}

div.tabs {
  margin: 0em;
  padding: 0em 3em;
  text-align: center;
}

a.tab {
  background: white;
  border: 1px solid #8CACBB;
  color: #436976;
  font: 110% Bold;
  padding: 0em 1.5em;
  margin: 0em 0.5em;
  text-decoration: none;
  white-space: nowrap;
}

a.tab#active {
  background: #dee7ec;
  border-bottom: #dee7ec 1px solid;
}

a.tab:hover {
  background: #dee7ec;
}

div.tabBar {
  color: #436976;
  background: #dee7ec;
  padding: 0em 1.5em;
  margin: 0em 0em 1.5em 0em;
  border-top: 1px solid #8CACBB;
  border-bottom: 1px solid #8CACBB;
}

div.row {
  padding: 0.5em;
}

table {
  margin: 0em 0em 1em 0em;
  font: 9pt sans-serif;
}

table th {
  border-bottom: 1px solid #8CACBB;
  font-weight: normal;
  padding: 0.2em 1em;
  text-transform: lowercase;
  white-space: nowrap;
}

table td {
  /* The 1px here is a workaround for an IE6 bug */
  padding: 0.8em 0.8em 1px 0.8em;
  text-align: left;
}

table.columns {
  width: 100%;
  padding: 0em;
  margin: 0em;
}

table.sectionGrid {
  width: 100%;
  padding: 0em;
  margin: 0em;
}

table.columns td.left {
  vertical-align: top;
  width: 14em;
  margin: 0em;
  /* Note that the 1px top padding here is necessary
   * to work around a bug in IE that would make the top
   * border on the first section in each column invisible
   */
  padding: 1px 0em 0em 1.5em;
}

table.columns td.main {
  vertical-align: top;
  margin: 0em;
  padding: 1px 1.5em;
}

tr.sectionGrid {
  margin: 0em;
  padding: 0em;
}

td.sectionGrid {
  vertical-align: top;
  margin: 0em;
  padding: 1px 0em 0em 1.5em;
}

td.sectionGrid:first-child {
  padding: 1px 0em 0em 0em;
}

table.columns td.right {
  vertical-align: top;
  width: 20em;
  margin: 0em;
  padding: 1px 1.5em 0em 0em;
}

span.bargraph {
  background: #DEECE7;
  border: 1px solid #8CBBAC;
}

div.photo {
  text-align: center;
}

img {
  border: none;
  vertical-align: middle;
}

img.photo {
  border: 1px dashed #8CACBB;
  padding: 0.5em;
}

span.error {
  padding: 0em 0.3em;
  border: 1px dashed #F00;
}

p.error {
  background: #FCC;
}

img.footer {
  padding: 0em 1em;
}

img.sortIndicator {
  padding: 0em 0.5em;
}

img.actionIcon {
  padding: 0em 0.5em;
  vertical-align: baseline;
}

img.left-icon {
  padding: 0em 0.5em 0em 0em;
}

div.formChoice {
  padding: 0.25em;
  margin: 1em 2em;
  border: 1px dotted #666;
}

span.xml-element-name {
  font-weight: bold;
  color: purple;
}

span.xml-attribute-name {
  font-weight: bold;
}

span.xml-attribute-value {
  color: blue;
}

p.xml-text {
  padding: 0.1em;
  margin: 0em;
}

div.xml-element {
  padding: 0.1em;
  margin: 0em;
}

table.messageHeaders {
  border: 1px solid #888;
  background-color: #DDD;
  padding: 0.25em 0.5em;
  margin: 0em;
  width: 100%;
}

table.messageHeaders tr {
  margin: 0em;
  padding: 0em;
}

table.messageHeaders td.name {
  margin: 0em;
  padding: 0.1em 0.25em;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

table.messageHeaders td.value {
  margin: 0em;
  padding: 0em;
  width: 100%;
}

.messageBody {
  margin: 1.5em 0em;
  padding: 0.25em 0em;
}

form {
  margin: 0em;
  padding: 0em;
}

/* The End */
