{% extends 'layout_login.html' %}

{% block head_title %}404{% endblock %}
{% block page_title %}Page not found{% endblock %}

{% block content %}
<div class="login-box">
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>

  <h1>404, Page not found</h1>
  <div class="h1-continuation"></div>

  <p>It looks like you followed a bad link.</p>
</div>

<ul class="options-box">
<li>If you copied and pasted a URL, make sure you selected the whole thing.</li>
<li>If you followed an external link here, the link may be incorrect or outdated.</li>
<li>You may want to head back to the <a href="/">front page</a> or to <a href="/account/">your account</a>.</li>
</ul>
{% endblock %}
