{% extends 'skeleton.html' %}

{% block head %}
  <title>CIA - {% block page_title %}{% endblock %}</title>
  <link href="/media/css/{% block stylesheet %}base.css{% endblock %}" type="text/css" rel="stylesheet" />
  <link href="/media/img/favicon.png" type="image/png" rel="shortcut icon" />
  {% block scripts %}{% endblock %}
{% endblock %}

{% block body %}
<div class="heading">
  <a class="logo" href="/">CIA</a>
  {% block head_title_container %}
    <span class="sep">:</span>
    <span class="title">{% block head_title %}{% endblock %}</span>
  {% endblock %}

  <ul>
  {% if user.is_authenticated %}
    <li>&bull; Welcome, {{ user.get_full_name|escape }}.</li>
    <li>&raquo; <a href="/account/">Profile</a></li>
    <li>&raquo; <a href="/account/logout/">Log out</a></li>
  {% else %}
    {% block log_in %}
    <li>&raquo; <a href="/account/login/">Log in</a></li>
    <li>&raquo; <a href="/account/register/">Register</a></li>
    {% endblock %}
  {% endif %}
  </ul>
</div>
{% block content %}
{% endblock %}
<div class="footer">
  The design and implementation of the CIA service is Copyright &copy; 2003-2007 Micah Dowty. <br />
  All hosted messages and metadata are owned by their respective authors.
</div>
{% endblock %}
