{% extends 'skeleton.html' %}

{% block head %}
  <title>CIA - {% block page_title %}{% endblock %}</title>
  <link href="/media/img/favicon.png" type="image/png" rel="shortcut icon" />
  {% block stylesheets %}
    <link href="/media/css/base.css" type="text/css" rel="stylesheet" />
  {% endblock %}
  {% block scripts %}{% endblock %}
{% endblock %}

{% block body %}
<div class="heading">
  <a class="logo" href="/">CIA</a>
  <span class="sep">:</span>
  <span class="title">{% block head_title %}{% endblock %}</span>
  
  <ul>
    {% if user.is_authenticated %}
      <li>&bull; Welcome, {{ user.get_full_name|escape }}.</li>
      <li>&raquo; <a href="/account/">Profile</a></li>
      <li>&raquo; <a href="/account/logout/">Log out</a></li>
    {% else %}
      {% block log_in %}
        <li>&raquo; <a href="/account/login/">Log in</a></li>
        <li>&raquo; <a href="/account/register/">Register</a></li>
      {% endblock %}
    {% endif %}
    {% block feedback_link %}
      <li>&raquo; <a href="/feedback/?ref={{ request.path }}">Feedback</a></li>
    {% endblock %}
  </ul>
</div>
{% block content %}
{% endblock %}
<div class="footer">
  The design and implementation of the CIA service is Copyright &copy; 2003-2007 Micah Dowty. <br />
  All hosted messages and metadata are owned by their respective authors.
</div>

<script type="text/javascript">
{% block scripts-init %}{% endblock %}
</script>

{% if GOOGLE_ANALYTICS_ACCOUNT %}
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "{{ GOOGLE_ANALYTICS_ACCOUNT }}";
urchinTracker();
</script>
{% endif %}

{% endblock %}
