{% load i18n %}
{% if display_form %}
<form action="/blog/post-comment/" method="post">
<p><label for="id_person_name">{% trans "Your name:" %}</label>
  <input type="text" class="text" id="id_person_name" name="person_name" value="{{ request.user.get_full_name }}" /></p>
<p><label for="id_comment">Comment on <em>{{ post.title|escape }}</em>:</label><br /><textarea name="comment" id="id_comment" rows="10" cols="60"></textarea></p>
<p>
<input type="hidden" name="options" value="{{ options }}" />
<input type="hidden" name="target" value="{{ target }}" />
<input type="hidden" name="gonzo" value="{{ hash }}" />
<input class="submit" type="submit" name="preview" value="{% trans "Preview comment" %}" />
</p>
</form>
{% endif %}
