{% extends 'layout_account.html' %}

{% block columns %}
<ul class="c2">
{% if add %}
  <li class="active"><div class="add-icon"></div> Add {{ asset_type_name }}...</li>
{% else %}
  <li><a href="/account/{{ asset_type }}/add/"><div class="add-icon"></div> Add {{ asset_type_name }}...</a></li>
{% endif %}

<li class="spacer"></li>

{% block user_assets %}
{% for user_asset in user_assets %}
  {% ifequal user_asset.object_id asset_id %}
    <li class="active">{{ user_asset.asset }}</li>
  {% else %}
    <li><a href="/account/{{ asset_type }}/{{ user_asset.object_id }}/">{{ user_asset.asset }}</a></li>
  {% endifequal %}
{% endfor %}
{% endblock %}
</ul>

<div class="c3">
{% block c3 %}{% endblock %}
</div>
{% endblock %}
